<mat-table [dataSource]="dataSource">
  <!-- User name Definition -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> title </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
  </ng-container>

  <!-- Age Definition -->
  <ng-container matColumnDef="artist">
    <mat-header-cell *matHeaderCellDef> artist </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.artist}} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="['title', 'artist']"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: ['title', 'artist']" (click)="getRecord(row)"></mat-row>
</mat-table>

<div class="toolbar">
  <div class="current">
    {{current.title}} - {{current.artist}} - {{current.duration}}
  </div>
  <button mat-raised-button (click)="onResumeClick()">play</button>
  <button mat-raised-button (click)="onPauseClick()">pause</button>
</div>

<!-- TODO: why -->
<router-outlet></router-outlet>
