<mat-table [dataSource]="dataSource">
  <!-- User name Definition -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> title </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
  </ng-container>

  <!-- Age Definition -->
  <ng-container matColumnDef="artist">
    <mat-header-cell *matHeaderCellDef> artist </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.artist}} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="['title', 'artist']"></mat-header-row>
  <mat-row matRipple *matRowDef="let row; columns: ['title', 'artist']" (click)="getRecord(row)"></mat-row>
</mat-table>

<visualizer></visualizer>
<toolbar></toolbar>

<!-- TODO: why -->
<router-outlet></router-outlet>
